librosa==0.9.1
fastapi
kaleido
python-multipart
uvicorn
cohere
openai
tiktoken
google-auth
SciPy==1.11.4
PyYAML==6.0.1
tensorboardX
pyloudnorm
setuptools>=41.0.0
g2p_en
resemblyzer
tensorflow-probability==0.23.0
google-auth==2.17.3